{% load static %} {% include 'base/header.html' %} <!DOCTYPE html>
  <body class="t-body" style="margin: 0">
    <!--allrecords-->
    <div
      id="allrecords"
      data-tilda-export="yes"
      class="t-records"
      data-hook="blocks-collection-content-node"
      data-tilda-project-id="4601600"
      data-tilda-page-id="39291201"
      data-tilda-page-alias="delivery"
      data-tilda-formskey="f90e568c64ee9dcea2d293aa11c7768e"
      data-tilda-lazy="yes"
      data-tilda-root-zone="com"
      data-tilda-project-headcode="yes"
      data-tilda-ts="y"
    >
      
      <div
        id="rec635348546"
        class="r t-rec t-rec_pt_0 t-rec_pb_0"
        style="padding-top: 0px; padding-bottom: 0px; background-color: #ffffff"
        data-record-type="106"
        data-bg-color="#ffffff"
      >
        <!-- T004 -->
        <div class="t004">
          <div class="t-container">
            <div class="t-col t-col_12">
              <div field="text" class="t-text t-text_md">
                <br />Стоимость доставки 300₽<br />При заказе от 3 000₽ доставка
                осуществляется бесплатно<br /><br /><br />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        id="rec635347054"
        class="r t-rec t-rec_pt_30 t-rec_pb_0"
        style="
          padding-top: 30px;
          padding-bottom: 0px;
          background-color: #ffffff;
        "
        data-record-type="128"
        data-bg-color="#ffffff"
      >
        <!-- T120 -->
        <div class="t120">
          <div class="t-container t-align_left">
            <div class="t-col t-col_12">
              <div class="js-store-prod-name js-product-name t-store__card__title t-typography__title t-name t-name_md" field="st_title__333430710031" data-redactor-toolbar="no">ПО ЕКАТЕРИНБУРГУ</div>
            </div>
          </div>
        </div>
      </div>
      <div
        id="rec635346713"
        class="r t-rec t-rec_pt_0 t-rec_pb_30"
        style="
          padding-top: 0px;
          padding-bottom: 30px;
          background-color: #ffffff;
        "
        data-record-type="106"
        data-bg-color="#ffffff"
      >
        <!-- T004 -->
        <div class="t004">
          <div class="t-container">
            <div class="t-col t-col_12">
              <div field="text" class="t-text t-text_md">
                Отправляем заказы курьером Яндекс, каждый день с 11:00 до
                22:00<br />Для доставки потребуется указать промежуток времени в
                3-4 часа, в который вам будет удобно принять заказ
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        id="rec635347285"
        class="r t-rec t-rec_pt_45 t-rec_pb_0"
        style="
          padding-top: 45px;
          padding-bottom: 0px;
          background-color: #ffffff;
        "
        data-record-type="128"
        data-bg-color="#ffffff"
      >
        <!-- T120 -->
        <div class="t120">
          <div class="t-container t-align_left">
            <div class="t-col t-col_12">
              <div class="js-store-prod-name js-product-name t-store__card__title t-typography__title t-name t-name_md" field="st_title__333430710031" data-redactor-toolbar="no">ПО РОССИИ</div>
            </div>
          </div>
        </div>
      </div>
      <div
        id="rec635347292"
        class="r t-rec t-rec_pt_0 t-rec_pb_150"
        style="
          padding-top: 0px;
          padding-bottom: 150px;
          background-color: #ffffff;
        "
        data-record-type="106"
        data-bg-color="#ffffff"
      >
        <!-- T004 -->
        <div class="t004">
          <div class="t-container">
            <div class="t-col t-col_12">
              <div field="text" class="t-text t-text_md">
                Доставка осуществляется транспортной компанией СДЭК до пункта
                выдачи или Почтой России.<br />Сроки доставки зависят от региона
                получателя и способа пересылки<br />После отправки заказа Вам
                будет выслан трек номер вашего отправления, по которому вы
                сможете в любой момент узнать где оно находится (отслеживать
                заказ можно на сайте CDEK/Почты России)
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--footer-->

      <!--/footer-->
    </div>
    <!--/allrecords-->
    <!-- Stat -->
    <!-- Yandex.Metrika counter 94878898 -->
    <script type="text/javascript" data-tilda-cookie-type="analytics">
      setTimeout(function () {
        (function (m, e, t, r, i, k, a) {
          m[i] =
            m[i] ||
            function () {
              (m[i].a = m[i].a || []).push(arguments);
            };
          m[i].l = 1 * new Date();
          (k = e.createElement(t)),
            (a = e.getElementsByTagName(t)[0]),
            (k.async = 1),
            (k.src = r),
            a.parentNode.insertBefore(k, a);
        })(
          window,
          document,
          "script",
          "https://mc.yandex.ru/metrika/tag.js",
          "ym"
        );
        window.mainMetrikaId = "94878898";
        ym(window.mainMetrikaId, "init", {
          clickmap: true,
          trackLinks: true,
          accurateTrackBounce: true,
          webvisor: true,
          ecommerce: "dataLayer",
        });
      }, 2000);
    </script>
    <noscript
      ><div>
        <img
          src="https://mc.yandex.ru/watch/94878898"
          style="position: absolute; left: -9999px"
          alt=""
        /></div
    ></noscript>
    <!-- /Yandex.Metrika counter -->
    <script type="text/javascript">
      if (!window.mainTracker) {
        window.mainTracker = "tilda";
      }
      setTimeout(function () {
        (function (d, w, k, o, g) {
          var n = d.getElementsByTagName(o)[0],
            s = d.createElement(o),
            f = function () {
              n.parentNode.insertBefore(s, n);
            };
          s.type = "text/javascript";
          s.async = true;
          s.key = k;
          s.id = "tildastatscript";
          s.src = g;
          if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
          } else {
            f();
          }
        })(
          document,
          window,
          "057c6a5a9cd7a76525cd9665ee00288a",
          "script",
          "js/tilda-stat-1.0.min.js"
        );
      }, 2000);
    </script>
  </body>
</html>
{% include 'base/footer.html' %}